<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="navbar-nav">
        {% if user.is_authenticated %}
        <li> <a  href="{% url 'users:logout' %}">Log out</a></li>
        <li><a  href="{% url 'users:profile' %}">Profile</a></li>
        {%else%}
        <li><a  href="{% url 'users:login' %}">Log In</a></li>
        <li><a  href="{% url 'users:register' %}">Register</a></li>
        {% endif %}
    </div>
    <h1>{{ menu.name }}
        {{ menu.period }}
    </h1>

    <ul>
    {% for dish in menu.dish.all %}
         <li>{{ dish.name }}</li>
             {{ dish.description }}
             {{ dish.price }}
             {{ dish.type }}
    {% endfor %}
    </ul>

</body>
</html>