<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="navbar-nav">
        {% if user.is_authenticated %}
        <li> <a  href="{% url 'users:logout' %}">Log out</a></li>
        <li><a  href="{% url 'users:profile' %}">Profile</a></li>
        {%else%}
        <li><a  href="{% url 'users:login' %}">Log In</a></li>
        <li><a  href="{% url 'users:register' %}">Register</a></li>

        {% endif %}
  </div>

   {% if menu_list %}
    <ul>
    {% for menu in menu_list %}
        <li><a href="{% url 'menu:dishes' menu.id %}">{{ menu.name }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No menu are available. We are in the process of develop.</p>
    {% endif %}

{% block content %}
  {% if comments_list %}
    {% for comment in comments_list %}
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ comment.author }}</a>
            <small class="text-muted">{{ comment.timestamp|date:"F d, Y" }}</small>
        </div>
  <p >{{comment.comment_text}}</p>
    {% endfor %}
  {% else %}
  <p>No comments</p>
  {% endif %}
{%endblock content%}

</body>
</html>