

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {%if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>>
        {% endfor %}
    {% endif %}
    <{% if menu_list %}
    <ul>
    {% for menu in menu_list %}
        <li><a href="{% url 'menu:detail' menu.id %}">{{ menu.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No menus are available.</p>
{% endif %}

</body>
</html>